* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100dvh;

    font-family: Inter, 'Source Sans 3', Poppins, 'Segoe UI', sans-serif;
    line-height: 1;

    scroll-behavior: smooth;
}

img, picture, svg, video {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p, li {
    text-wrap: pretty;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
